.Logo {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-dark);
}

.Logo img {
  padding: 0 15px;
  width: 100%;
}

@media(max-width: 576px) {
  .Logo {
    max-width: 100vw;
  }

  .Logo a {
    padding: 20vmin;
  }
}